body {
    font-family:'Vesper Libre', serif;
}

img {
    width: 100%;
}

figcaption {
    font-family: 'Open Sans';
}

.article-category {
    font-family: 'Open Sans';

}

.sub-title {
    font-family: 'Open Sans';
}

.author {
    font-family: 'Open Sans';
}

time {
    font-family: 'Open Sans';
}

p.article-category {
    text-transform: uppercase;
    font-size: .85rem;
}